@use '../../../styles/variables' as v;

header {
  height: 64px;
  background-color: v.$color-green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: v.$gutter;

  h1 {
    font-size: 1.5rem;
    margin: auto 0;
  }

  img {
    height: 42px;
    width: auto;
    mix-blend-mode: darken;
  }

  a:nth-last-child(1) {
    margin-left: auto;

    img {
      padding: v.$gutter;
    }
  }

  .buttons_connexion {
    display: flex;
  }
}